@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Akira;
  src: url(../public/Akira.otf);
}

@font-face {
  font-family: Brooklyn;
  src: url(../public/Brooklyn.otf);
}

:root {
  --myHeight: 100%;
  --myWidth: 100%;
}

body {
  background-color: #121212;
  color: #fff;
  font-family: Akira;
}

.about-reveal::after {
  content: "";
  position: absolute;
  width: 100%;
  height: var(--myHeight);
  top: 0;
  background-color: #080808;
}

.reveal-left::after {
  content: "";
  position: absolute;
  width: var(--myWidth);
  height: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
}

.reveal-top {
  transform: translateY(70px);
}

.font-brooklyn {
  font-family: Brooklyn;
}

.text-stroke {
  -webkit-text-stroke: 1px #d6d3d1;
}
