@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define custom font faces */
@font-face {
  font-family: Akira;
  src: url(../public/Akira.otf);
}

@font-face {
  font-family: Brooklyn;
  src: url(../public/Brooklyn.otf);
}

/* These root variables will be used for controlling animations using the GSAP library. */
:root {
  --myHeight: 100%;
  --myWidth: 100%;
}

html{
  scroll-behavior: smooth;
}

body {
  background-color: #121212;
  color: #fff;
  font-family: Akira;
  -webkit-font-smoothing: antialiased;
}

/* Styling for the reveal effect on elements with the class .about-reveal */
.about-reveal::after {
  content: "";
  position: absolute;
  width: 100%;
  height: var(--myHeight);
  top: 0;
  background-color: #080808;
}

/* Styling for the reveal effect on elements with the class .text-reveal-x */
.text-reveal-x::after,
.text-reveal-x-2::after,
.text-reveal-x-3::after {
  content: "";
  position: absolute;
  width: var(--myWidth);
  height: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
}

/* Transformations for elements with the class .text-reveal-y */
.text-reveal-y,
.text-reveal-y-2,
.text-reveal-y-3 {
  transform: translateY(70px);
}

/* Styling for the reveal effect on elements with the class .reveal-img */
.reveal-img::after,
.reveal-img-2::after,
.reveal-img-3::after {
  content: "";
  position: absolute;
  width: 100%;
  height: var(--myHeight);
  bottom: 0;
  background-color: #121212;
}

/* Custom font class */
.font-brooklyn {
  font-family: Brooklyn;
}

/* Text stroke effect */
.text-stroke {
  -webkit-text-stroke: 1px #d6d3d1;
}

/* Custom styling for input elements */
.input-style {
  background-color: initial;
  border-bottom: 1px solid red;
}
