@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Akira;
  src: url(../public/Akira.otf);
}

@font-face {
  font-family: Brooklyn;
  src: url(../public/Brooklyn.otf);
}

body {
  background-color: #121212;
}

.text-white {
  color: #fff;
  font-family: Akira;
}

.font-brooklyn {
  font-family: Brooklyn;
}
